body {
  background: linear-gradient(90deg, #f59cfb 0%, #fcccff 100%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
.App-logo {
  margin-bottom: -10px;
  width: fit-content;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-counter {
  margin-top: 70px;
}
.merry-counter {
  filter: drop-shadow(10px 12px 12px #2e0830);
  flex-direction: column;
  justify-content: start;
  width: 500px;
  min-height: 430px;
  background: #624063;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
button.yes-btn {
  font-weight: bold;
  font-size: large;
  color: #624063;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 139px;
  padding: 13px;
  margin-right: 160px;
  border-radius: 50px;
  border-width: 0px;
  background: linear-gradient(90deg, #f59cfb 0%, #fcccff 100%);
  cursor: pointer;
}

button.no-btn {
  font-weight: bold;
  font-size: large;
  color: #640b0b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 139px;
  padding: 13px;
  border-radius: 50px;
  border-width: 0px;
  background: linear-gradient(90deg, #ff7c7c 0%, #ff7474 100%);
  cursor: pointer;
  position: inherit !important;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 166px;
  background-color: #fcb03c;
  color: #fff;
  text-align: center;
  border-radius: 57px;
  padding: 21px 82px;
  position: absolute;
  z-index: 1;
  bottom: -204%;
  left: 49%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

canvas.confetti {
  visibility: hidden;
  width: 100%;
  height: 100%;
 
}
  canvas.yes {
  visibility: visible !important;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
}

#myDIV {
  --div-width: 139px;
  transition: .2s top, .2s right;
  right: calc(100% - var(--div-width));
  width: var(--div-width);
  position: absolute !important;
  top: 348px;
  right: 90px;
}